@import url('https://fonts.googleapis.com/css?family=Mako|Ropa+Sans|Cookie&display=swap');
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f5f5f5;
  }
 

.App {
	text-align: center;
	background-color: #f5f5f5;
	font-family: Mako;
}

main{
    height:150vh;
    margin-top: 20vh;
    display: flex;
    justify-content: center;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #242424;
	height: 10vh;
	color: #f5f5f5;
	position: fixed; 
    top: 0; 
    margin-bottom: 100px;
	width: 100%;
}

.menu {
	display: flex;
	justify-content: flex-end;
	text-decoration: none;
	width: 60%;
	margin-right:3%;
}

li {
	list-style-type: none;
	padding: 20px;
}

.hero   {
	background-color: #f5f5f5;
	display:flex;
	flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 7vh;
    border:3px solid orange;
    
}

.hero-title {
    margin-top: 50px;
    display:flex;
	flex-direction: column;
    align-items: center;
    justify-content: center;
}

a{
	cursor: pointer;
}



h1 {
	font-family: Ropa Sans;
	font-size: 4em;
	font-weight: lighter;
	color: #242424;
	margin:0;
}

h2 {
	font-family: Mako;
	font-size: 2em;
	text-align: center;
}

h3 {
	font-family: Mako;
	font-size: 1.5em;

}

#name{
	margin-left:2%;
}

.bio {
    width: 100%;
    text-align: center;
    border:2px solid #242424;
}

.square{
	border:2px solid #242424;
	padding: 0 25px;
	font-family: Cookie;
	color: #242424;
	font-size: 1.4em;
	box-shadow: 8px 8px #242424;
}

.skills {
	margin-top: 10vh;
}

.skills img {
	margin: 0 5px;
}

.skills-icons {
	display: flex;
	justify-content: center;
	align-items: center;
}

.resume {
	font-size: 1.2em;
	border: #242424 1px solid;
	box-shadow: 2px 2px #242424;
	padding: 5px 25px;
	text-decoration: #242424;
	color: #242424;
	margin-top: 20px;
}

.projects{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 10vh;

}

.project{
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: 2vh;
}

.project-image{
	border: 3px solid  #242424;
	margin-right:5px;
	width: 20%;

}

.project-info{
	border: 3px solid #242424;
	margin-left:5px;
	width: 40%;
	padding:15px;
	top:0;
	text-align: center;
	display: flex;
	flex-direction: column;
	background-color: #F0EDED;
}

.project-info h3{
	padding:5px;
	margin:0;
	width: 100%;
	font-size: 1.8em;
}

#contact {
	margin-top: 10vh;
}

.image {
	width:100%;
	object-fit: cover;

}

p{
	font-size: 1.1em;
}


@media (max-width: 550px) {
	.bio {
	  width: 70%;
	}

	.skills-icons img {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 40px;
	}

	.contact-icons img {
		width: 40px;
	}

	h1 {
		font-size: 3em;
	}

	h2 {
		font-family: Mako;
		font-size: 1.4em;
	}

	p {
		font-size: 0.8em;
		
	}
  }

  #code-icons {
	  margin:10px;
	  display: flex;
	  justify-content: center;
	  align-items: center;
  }

  #code-icons img {
	margin:10px;
}


input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
	color: #aca49c;
	font-size: 0.875em;
  }
  
  input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
	color: #bbb5af;
  }
  
  input::-moz-placeholder, textarea::-moz-placeholder {
	color: #aca49c;
	font-size: 0.875em;
  }
  
  input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
	color: #bbb5af;
  }
  
  input::placeholder, textarea::placeholder {
	color: #aca49c;
	font-size: 0.875em;
  }
  
  input:focus::placeholder, textarea::focus:placeholder {
	color: #bbb5af;
  }
  
  input::-ms-placeholder, textarea::-ms-placeholder {
	color: #aca49c;
	font-size: 0.875em;
  }
  
  input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
	color: #bbb5af;
  }
  
  /* on hover placeholder */
  
  input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
	color: #e2dedb;
	font-size: 0.875em;
  }
  
  input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
	color: #cbc6c1;
  }
  
  input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
	color: #e2dedb;
	font-size: 0.875em;
  }
  
  input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
	color: #cbc6c1;
  }
  
  input:hover::placeholder, textarea:hover::placeholder {
	color: #e2dedb;
	font-size: 0.875em;
  }
  
  input:hover:focus::placeholder, textarea:hover:focus::placeholder {
	color: #cbc6c1;
  }
  
  input:hover::placeholder, textarea:hover::placeholder {
	color: #e2dedb;
	font-size: 0.875em;
  }
  
  input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
	color: #cbc6c1;
  }
  

  #form {
	position: relative;
	width: 500px;
	margin: 50px auto 100px auto;
  }
  
  input {
	font-family: 'Lato', sans-serif;
	font-size: 0.875em;
	width: 470px;
	height: 50px;
	padding: 0px 15px 0px 15px;
	
	background: transparent;
	outline: none;
	color: #726659;
	
	border: solid 1px #b3aca7;
	border-bottom: none;
	
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
  }
  
  input:hover {
	background: #b3aca7;
	color: #e2dedb;
  }
  
  textarea {
	width: 470px;
	max-width: 470px;
	height: 110px;
	max-height: 110px;
	padding: 15px;
	
	background: transparent;
	outline: none;
	
	color: #726659;
	font-family: 'Lato', sans-serif;
	font-size: 0.875em;
	
	border: solid 1px #b3aca7;
	
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
  }
  
  textarea:hover {
	background: #b3aca7;
	color: #e2dedb;
  }
  
  #submit {
	width: 502px;
	
	padding: 0;
	margin: -5px 0px 0px 0px;
	
	font-family: 'Lato', sans-serif;
	font-size: 0.875em;
	color: #b3aca7;
	
	outline:none;
	cursor: pointer;
	
	border: solid 1px #b3aca7;
	border-top: none;
  }
  
  #submit:hover {
	color: #e2dedb;
  }